/* ГЛАВА: БЛОКИ КОНТЕНТА (FEATURES) */
.features_container {
    background-color: var(--accent-green); /* Оливковый фон всей секции */
    padding: 80px 10%;
}

.feature_block {
    display: flex;
    background-color: var(--bg-color); /* Бежевый фон самой карточки */
    margin-bottom: 60px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
     /* Вместо тени на фото видна рамка в цвет фона секции */
    border: 20px solid var(--accent-green);
}

.feature_block.reverse {
    flex-direction: row-reverse; /* Разворачивает блок (картинка справа) */
}

.feature_image {
    width: 50%;
    min-height: 450px;
    background-color: #ddd; /* Цвет-заглушка для фото */
    background-size: cover;
    background-position: center;
}

/* ПОДКЛЮЧАЕМ ФОТО */
.img1 { background-image: url("img/photo1.jpg"); }
.img2 { background-image: url("img/photo2.jpg"); }
.img3 { background-image: url("img/photo3.jpg"); }


.feature_text {
    width: 50%;
    padding: 80px 60px;   /* Увеличил отступы для «воздуха» */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.feature_text h2 {
    font-family: 'Georgia', serif;
    font-size: 2rem;
    display: flex;
    align-items: center;
}




.feature_text h2 span {
    background: var(--accent-green);
    color: white;
    /* Делаем идеальный круг */
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 12px;
    border-radius: 50%;
    margin-right: 20px;
    font-size: 1.2rem;
    flex-shrink: 0;/* Чтобы круг не сплющивался */
}



