/* ГЛАВА: ПОДВАЛ (FOOTER) */
.footer_main {
    background-color: var(--dark-green);
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.footer_main p {
    font-size: 0.8rem;
    opacity: 0.6;
}
