/* ГЛАВА: ШАПКА САЙТА (HEADER) */
.header_container {
    background-color: var(--dark-green);
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    padding: 20px 8%;
    flex-direction: row;
}

.logo_block {
    display: flex;
    flex-direction: column;
    
}

.logo {
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    /* Убираем стандартный отступ снизу у верхнего слова */
    margin-bottom: 2px; 
    /* Если это тег h1/h2, обнуляем все отступы */
    margin-top: 0; 
}

.nav_menu a{
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 0.8rem;
    letter-spacing: 1px;
    flex-direction: row;
    
}

 