/* ГЛАВА: МОБИЛЬНАЯ ВЕРСИЯ */
@media (max-width: 900px) {
    .feature_block, .feature_block.reverse {
        flex-direction: column; /* На телефонах блоки встают друг под друга */
    }
    .feature_image, .feature_text {
        width: 100%;
    }
    .hero_section h1 {
        font-size: 2.2rem;
    }
}
